<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">

        <% if (!user) { %>
          <h2>Welcome to the 50 mile club! Please log in.</h2>
        <% } else { %>
          <h2>Hello, <%= user.displayName %>.</h2>


        <% } %>
        
    </div>

       <% if (competitorStats) { %>

    
        <h2>Week <%= weeknum %> Stats</h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                <th>Athlete</th><th>Distance</th><th>Road</th><th>Trainer</th>
                </tr>
            
                <% for (var i = 0; i < competitorStats.length; i++) { %>
                <tr>
                <td><%= competitorStats[i].AthleteName %></td>
                <td><%= competitorStats[i].distance %></td>
                <td><%= competitorStats[i].outdoorrides %></td>
                <td><%= competitorStats[i].trainerrides %></td>
                </tr>    
                <% } %>
            </table>
        </div>

     <% } %>


    <!-- .active	Applies the hover color to the table row or table cell
    .success	Indicates a successful or positive action
    .info	Indicates a neutral informative change or action
    .warning	Indicates a warning that might need attention
    .danger -->
    <% if (mystats) { %>

    <h2>Previous Weeks</h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                <th>Week</th><th>Distance</th><th>Road</th><th>Trainer</th>
                </tr>
            
                <% for (var i = 1; i < mystats.length; i++) { %>
                <tr>
                <td><%= mystats[i].weeknum %></td>
                <td><%= mystats[i].distance %></td>
                <td><%= mystats[i].roadrides %></td>
                <td><%= mystats[i].trainerrides %></td>
                </tr>    
                <% } %>
            </table>
        </div>

     <% } %>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

